<form action="https://pgupi.mypoolin.com/payment" name="payment" method="post">
    <input type="hidden" name="checksum" value="{{passchecksumdata}}">
        <input type="hidden" name="amount" value="10">
            <input type="hidden" name="merchant_name" value="test-calldoc-p2m">
                <input type="hidden" name="merchant_txn_id" value="12345ABCDE">
                    <input type="hidden" name="merchant_message" value="Manish testing the payment page">
                        <input type="hidden" name="paymentoptions" value = "paytm,mobikwik,upi,cards">
                            <input type="hidden" name="payer_mobile" value="9845702415">
                                <input type="hidden" name="payer_email" value="mypoolin@gmail.com">
                                    <input type="hidden" name="payer_name" value="Mypoolin">
                                        </form>
